<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Doggy Van.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E92BCC841C6EE146009A220A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E92BCC981C6EE146009A220A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E92BCCA31C6EE146009A220A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
